<% content_for :title, "Junte-se a nós!" %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Junte-se a nós!</h1>
    <p>A Liga Chapecoense de Programação reúne os principais competidores da região do Oeste Catarinense.
      A liga é realizada através do CodeForces e consiste de diversas Maratonas de Programação.
      Tem maratona todas as semanas!
      A participação é gratuita. </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Aprenda como participar &raquo;</a></p>
  </div>
</div>
